<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bot Chat Embed Test</title>
        <link href="https://3dd1cd84.ngrok.io/botchat.css" rel="stylesheet" />
      <style>
            .wc-chatview-panel {
                width: 320px;
                height: 500px;
            }

        </style>
    </head>
    <body>
        <div>
            <div style="margin-left: 320px" id="BotChatGoesHere"/>
            <div style="clear:both;"/>
        </div>
        <script src="https://3dd1cd84.ngrok.io/botchat.js"></script>
        <script>
            BotChat.App({
                directLine: {
                    token: "<%= token %>"
                },
                user: { id: 'pratik' },
                bot: { id: 'yourbot' },
            }, document.getElementById("BotChatGoesHere"));
        </script>
    </body>
</html>